body{
    background-color: black;
    font-family:Arial, Helvetica, sans-serif;
    
}

.nav-bar {
    background: rgba(123,233,255,1);
    top: 0px;
    color: rgb(0, 0, 0);
    padding: 10px 40px;
    margin-bottom: 20px;
}

.column-container {
    display: flex;
    background-color: black;
    gap: 50px;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.column {
    height: 100vh;
    /* float: left; */
    overflow-y: auto; 
    overflow-x: hidden;
    background-color: black;
    color: aliceblue;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    min-width: 200px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .column.one {
    background: rgb(144,137,255);
    background: linear-gradient(0deg, rgba(144,137,255,1) 0%, rgba(123,233,255,1) 100%); 
  }

  .column.two {
    background: rgb(144,137,255);
    background: linear-gradient(0deg, rgba(144,137,255,1) 0%, rgba(123,233,255,1) 100%); 
  }

  .column.three {
    background: rgb(144,137,255);
    background: linear-gradient(0deg, rgba(144,137,255,1) 0%, rgba(123,233,255,1) 100%); 
  }
  
  /* Create artificial content that extend past the viewport */
  .content {
    /* width: 80%;  */
    
    /* background: rgba(255, 255, 255, 1); */
    margin: 50px auto;
    line-height: 1.5em;
    border-radius: 20px;
    color: black;
  }

  h2 {
    color: black;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(89, 100, 255);
    text-align: center;
    width: 1000px;
    top: 0px;
    margin-top: 0px;

  }

  .expander {
    border: black 2px solid;
    background-color: aliceblue;
    border-radius: 10px;
    width: 50%;
    height: 400px;
    transition: width 1s, height 1s;
  }

  .expander:hover {
    background-color: bisque;
    width: 120%;
    height: 500px;
    transition: width 1s, height 1s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1)
  }

  .b-grid{
    display: flex;
    width: 100px;
    height: 100px;
    max-height: none;
    justify-content: start;
    border: 2px black solid;
    align-items: center;
    gap: 40px;
  }

  .e3{
    margin: 20px;
    padding: 20px;
  }